<!--MENU MOBILE-->
<div id="menu-mobile" class="bg-dark">

    <h1 class="d-none">Menu mobile</h1>

    <a href="/" class="mx-2">INÍCIO</a>
    <a href="/galeria" class="mx-2">GALERIA</a>
    <a href="/sobre" class="mx-2">SOBRE</a>
    <a href="/agenda" class="mx-2 _pag-ativa">AGENDA</a>
    <a href="/noticias" class="mx-2">NOTÍCIAS</a>
    <a href="#contato" class="mx-2" onclick="abrirMenuMobile(this, '_toggler')">CONTATO</a>

    <div class="mt-5 pt-3 w-100 text-center">
         <a href="https://www.instagram.com/aliencore_rock/" target="_blank" class="mx-2"><i class="fab fa-instagram display-2"></i></a>
         <a href="https://www.facebook.com/aliencorerock" target="_blank" class="mx-2"><i class="fab fa-facebook display-2"></i></a>
    </div>
       
</div>
<!--MENU MOBILE-->





<!--BANNER AGENDA / NAVEGAÇÃO DESKTOP-->
<header id="header-agenda">

        <!--Navegação desktop-->
        <nav class="_nav-desk-home p-4 p-xxl-5 w-100 d-flex justify-content-between justify-content-lg-center">
            <div class="align-self-center d-none d-lg-block">
                <a href="/" class="mx-2 _hover-link-nav">INÍCIO</a>
                <a href="/galeria" class="mx-2 _hover-link-nav">GALERIA</a>
                <a href="/sobre" class="mx-2 _hover-link-nav">SOBRE</a>
            </div>

            <a href="/" class="align-self-center"><img src="/img/site/logo.png" alt="Logo Alien Core" class="_logo-nav-desktop"></a>

            <div class="align-self-center d-none d-lg-block">
                <a href="/agenda" class="mx-2 _hover-link-nav _pag-ativa">AGENDA</a>
                <a href="/noticias" class="mx-2 _hover-link-nav">NOTÍCIAS</a>
                <a href="#contato" class="mx-2 _hover-link-nav">CONTATO</a>
            </div>

            <!--Toggler mobile-->
            <button class="_toggler d-block d-lg-none" onclick="abrirMenuMobile(this)"><i class="fas fa-bars"></i></button>
            <!--Toggler mobile-->
        </nav>
        <!--Navegação desktop-->


        <!--Title página-->
        <div class="title-pagina">
            <h1 class="anima-digitar">AGENDA</h1>
            <div>
                <a href="/">Início</a> | <a href="/agenda">Agenda</a>
            </div>
        </div>
        <!--Title página-->
     
</header>
<!--BANNER AGENDA / NAVEGAÇÃO DESKTOP-->








<!--CONTENT AGENDA-->
<section class="bg-dark py-5 d-flex flex-column justify-content-center align-items-center">
        <h6 data-aos="fade-up" class="text-alien">ALIEN CORE</h6>
        <h2 data-aos="fade-up" class="text-white mb-4">Próximos shows</h2>

        <div id="container-shows">

            <div data-aos="fade-up" class="py-3 px-2 w-100 border-top border-bottom d-flex align-items-center justify-content-between">
                   <span class="fw-bold fs-5">DATA/LOCAL</span>
                   <i class="fab fa-instagram fs-4"></i>
            </div>

            <!--lista de shows-->
            <div class="border-bottom mt-5 pt-3 px-2 pb-3">

                  <div data-aos="fade-up" class="W-100 py-2 d-flex align-items-center justify-content-between">
                       <p class="fw-bold fs-6 _descri-evento">Dia 18 de Maio de 2024 - <span class="text-alien fw-bold fs-6">Cultura 24hrs</span> </p>
                       <a href="https://www.instagram.com/aliencore_rock/" target="_blank" class="btn-ver-no-insta-evento">Ver no instagram</a>
                  </div>

                  <div data-aos="fade-up" class="W-100 py-2 d-flex align-items-center justify-content-between">
                       <p class="fw-bold fs-6 _descri-evento">Dia 26 de Maio de 2024 - <span class="text-alien fw-bold fs-6">Concurso de bandas - Maroca bar</span> </p>
                       <a href="https://www.instagram.com/aliencore_rock/" target="_blank" class="btn-ver-no-insta-evento">Ver no instagram</a>
                  </div>

            </div>
            <!--lista de shows-->

            <!--quando não houver shows-->
            <h3 data-aos="fade-up" class="d-none text-secondary my-5 py-4 text-center w-100 border-bottom">Sem eventos no momento.</h3>
            <!--quando não houver shows-->


            <p data-aos="fade-up" class="w-100 text-center text-white mt-5 pt-4 fs-5">Para mais informações <a href="https://wa.me/5554991538488" target="_blank" class="text-alien" style="text-decoration: underline;">Entre em contato!</a></p>

        </div>
</section>
<!--CONTENT AGENDA-->








<!--FORMULÁRIO-->
{{> form}}
<!--FORMULÁRIO-->



<!--FOOTER-->
<footer class="bg-dark">

    <h1 class="d-none">Footer site banda Alien Core</h1>

    <nav data-aos="fade-up" class="px-5 py-3 w-100 d-none d-lg-flex justify-content-center">
            <div class="align-self-center">
                <a href="/" class="mx-2 _hover-link-nav">INÍCIO</a>
                <a href="/galeria" class="mx-2 _hover-link-nav">GALERIA</a>
                <a href="/sobre" class="mx-2 _hover-link-nav">SOBRE</a>
            </div>

            <a href="/" class="align-self-center"><img src="/img/site/logo.png" alt="Logo Alien Core" class="_logo-nav-desktop"></a>

            <div class="align-self-center">
                <a href="/agenda" class="mx-2 _hover-link-nav _pag-ativa">AGENDA</a>
                <a href="/noticias" class="mx-2 _hover-link-nav">NOTÍCIAS</a>
                <a href="#contato" class="mx-2 _hover-link-nav">CONTATO</a>
            </div>
    </nav>

    <div data-aos="fade-up" style="border-bottom: 2px solid gray;" class="mt-1 mb-4 w-75 d-none d-lg-block"></div>


    <p class="text-center">© 2023 <span class="text-alien">Alien Core</span>. Todos os direitos reservados. <br> Criado por <a href="https://freeladev.website" target="_blank" style="color: orangered;">Freela Dev</a></p>
      
</footer>
<!--FOOTER-->