<!--MODAL APRESENTAÇÃO INTEGRANTES-->
<div id="apresentacao-integrantes">

    <h1 class="d-none">Modal apresentação dos integrantes</h1>

    <div class="_container-integrante-apresentacao">
         <div><img id="img-apresentacao" src="" class="_hover-img-integrante"></div>
         <div>
            <h1 class="ps-3 pe-3 d-inline-block mb-4" style="border-left: 2px solid #14EE5A;border-right: 2px solid #14EE5A;" id="nome-apresentacao"> </h1>
            <p class="text-secondary" id="descri-apresentacao"></p>
            <button class="_btn-alien mt-3 d-none" onclick="fecharApresentacao()">FECHAR</button>
         </div>
    </div>

</div>
<!--MODAL APRESENTAÇÃO INTEGRANTES-->



<!--MENU MOBILE-->
<div id="menu-mobile" class="bg-dark">

    <h1 class="d-none">Menu mobile</h1>

    <a href="/" class="mx-2">INÍCIO</a>
    <a href="/galeria" class="mx-2">GALERIA</a>
    <a href="/sobre" class="mx-2 _pag-ativa">SOBRE</a>
    <a href="/agenda" class="mx-2">AGENDA</a>
    <a href="/noticias" class="mx-2">NOTÍCIAS</a>
    <a href="#contato" class="mx-2" onclick="abrirMenuMobile(this, '_toggler')">CONTATO</a>

    <div class="mt-5 pt-3 w-100 text-center">
         <a href="https://www.instagram.com/aliencore_rock/" target="_blank" class="mx-2"><i class="fab fa-instagram display-2"></i></a>
         <a href="https://www.facebook.com/aliencorerock" target="_blank" class="mx-2"><i class="fab fa-facebook display-2"></i></a>
    </div>
       
</div>
<!--MENU MOBILE-->





<!--BANNER SOBRE / NAVEGAÇÃO DESKTOP-->
<header id="header-sobre">

        <!--Navegação desktop-->
        <nav class="_nav-desk-home p-4 p-xxl-5 w-100 d-flex justify-content-between justify-content-lg-center">
            <div class="align-self-center d-none d-lg-block">
                <a href="/" class="mx-2 _hover-link-nav">INÍCIO</a>
                <a href="/galeria" class="mx-2 _hover-link-nav">GALERIA</a>
                <a href="/sobre" class="mx-2 _hover-link-nav _pag-ativa">SOBRE</a>
            </div>

            <a href="/" class="align-self-center"><img src="/img/site/logo.png" alt="Logo Alien Core" class="_logo-nav-desktop"></a>

            <div class="align-self-center d-none d-lg-block">
                <a href="/agenda" class="mx-2 _hover-link-nav">AGENDA</a>
                <a href="/noticias" class="mx-2 _hover-link-nav">NOTÍCIAS</a>
                <a href="#contato" class="mx-2 _hover-link-nav">CONTATO</a>
            </div>

            <!--Toggler mobile-->
            <button class="_toggler d-block d-lg-none" onclick="abrirMenuMobile(this)"><i class="fas fa-bars"></i></button>
            <!--Toggler mobile-->
        </nav>
        <!--Navegação desktop-->


        <!--Title página-->
        <div class="title-pagina">
            <h1 class="anima-digitar">A BANDA</h1>
            <div>
                <a href="/">Início</a> | <a href="/sobre">Sobre</a>
            </div>
        </div>
        <!--Title página-->
     
</header>
<!--BANNER SOBRE / NAVEGAÇÃO DESKTOP-->






<!--CONTENT PAG SOBRE*************************-->
<section class="bg-dark py-5 d-flex justify-content-center align-items-center flex-column">

    <!--imagem e descrição-->
    <div id="imagem-descricao">
         <img data-aos="fade-up" src="/img/site/imagem-sobre.png" class="w-100 my-5" alt="Banda Alien Core">

         <h1 data-aos="fade-up" class="fs-1 text-alien mb-3 text-center">Conheça a banda Alien Core!</h1>

         <p data-aos="fade-up" class="text-secondary text-center">A Alien Core é uma banda fundada em 2022 que traz a energia do rock internacional para os palcos. Especializada em fazer covers de bandas renomadas como Foo Fighters, Metallica, Kings of Leon, Black Sabbath, Motorhead e outras, a Alien Core oferece uma experiência musical intensa e empolgante. Além disso, a banda já lançou seu primeiro single, "Bad Taste in Man," e está atualmente empenhada na criação de seu segundo single. Com uma formação talentosa composta por Weslei na bateria, Gui como vocalista, Jasan na guitarra e Wilson no baixo, a Alien Core está pronta para conquistar o cenário musical com seu som vibrante e apaixonante.</p>
    </div>
    <!--imagem e descrição-->


    <div class="_division-sobre"></div>


    <!--integrantes-->
    <section id="integrantes-home" class="bg-dark text-center mb-3">

            <h1 class="d-none">Integrantes da banda Alien Core</h1>


            <h1 data-aos="fade-up" class="_title-sessao-integrantes-home px-3">NOSSA EQUIPE</h1>
            <h4 data-aos="fade-up" class="text-secondary _sub-sessao-integrantes-home mb-3">Conheça nossos integrantes</h4>

            <div class="_container-integrantes row mt-4 justify-content-center">

                <div data-aos="fade-up" class="col-12 col-lg-3 p-3">
                    <div class="_container-integrantes-img"> <img onclick="abrirApresentacao('jasan')" class="_hover-img-integrante" src="/img/site/jasan.jpg"> </div>
                    <a href="https://www.instagram.com/jasandysarz/" target="_blank" class="_instagram-integrante"> <i class="fab fa-instagram me-2"></i> JASAN </a>
                </div>

                <div data-aos="fade-up" class="col-12 col-lg-3 p-3">
                    <div class="_container-integrantes-img"> <img onclick="abrirApresentacao('weslei')" class="_hover-img-integrante" src="/img/site/weslei.jpeg"> </div>
                    <a href="https://www.instagram.com/we_casali/" target="_blank" class="_instagram-integrante"> <i class="fab fa-instagram me-2"></i> WESLEI </a>
                </div>

                <div data-aos="fade-up" class="col-12 col-lg-3 p-3">
                    <div class="_container-integrantes-img"> <img onclick="abrirApresentacao('gui')" class="_hover-img-integrante" src="/img/site/gui.jpg"> </div>
                    <a href="https://www.instagram.com/gui.zordan/" target="_blank" class="_instagram-integrante"> <i class="fab fa-instagram me-2"></i> GUI </a>
                </div>

                <div data-aos="fade-up" class="col-12 col-lg-3 p-3">
                    <div class="_container-integrantes-img"> <img onclick="abrirApresentacao('wilson')" class="_hover-img-integrante" src="/img/site/wilson.jpg"> </div>
                    <a href="https://www.instagram.com/dannyfernandes_oficial/" target="_blank" class="_instagram-integrante"> <i class="fab fa-instagram me-2"></i> WILSON </a>
                </div>

            </div>
    </section>
    <!--integrantes-->


    <div class="_division-sobre"></div>


    <!--instagram-->
    <section class="bg-dark mt-5 py-5 d-flex flex-column justify-content-center align-items-center">

        <h3 data-aos="fade-up" class="text-alien mb-4">Nosso instagram</h3>

        <iframe data-aos="fade-up" src="https://snapwidget.com/embed/1048498" class="d-none d-lg-block snapwidget-widget mb-5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:555px; height:370px"></iframe>
        <iframe data-aos="fade-up" src="https://snapwidget.com/embed/1048500" class="d-block d-lg-none snapwidget-widget mb-5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:270px; height:270px"></iframe>

        <a data-aos="fade-up" href="https://www.instagram.com/aliencore_rock/" target="_blank" id="btn-ver-nosso-instagram"> <i class="fab fa-instagram me-1"></i> Ver nosso instagram</a>
        
    </section>
    <!--instagram-->

</section>
<!--CONTENT PAG SOBRE*************************-->









<!--FORMULÁRIO-->
{{> form}}
<!--FORMULÁRIO-->



<!--FOOTER-->
<footer class="bg-dark">

    <h1 class="d-none">Footer site banda Alien Core</h1>

    <nav data-aos="fade-up" class="px-5 py-3 w-100 d-none d-lg-flex justify-content-center">
            <div class="align-self-center">
                <a href="/" class="mx-2 _hover-link-nav">INÍCIO</a>
                <a href="/galeria" class="mx-2 _hover-link-nav">GALERIA</a>
                <a href="/sobre" class="mx-2 _hover-link-nav _pag-ativa">SOBRE</a>
            </div>

            <a href="/" class="align-self-center"><img src="/img/site/logo.png" alt="Logo Alien Core" class="_logo-nav-desktop"></a>

            <div class="align-self-center">
                <a href="/agenda" class="mx-2 _hover-link-nav">AGENDA</a>
                <a href="/noticias" class="mx-2 _hover-link-nav">NOTÍCIAS</a>
                <a href="#contato" class="mx-2 _hover-link-nav">CONTATO</a>
            </div>
    </nav>

    <div data-aos="fade-up" style="border-bottom: 2px solid gray;" class="mt-1 mb-4 w-75 d-none d-lg-block"></div>


    <p class="text-center">© 2023 <span class="text-alien">Alien Core</span>. Todos os direitos reservados. <br> Criado por <a href="https://freeladev.website" target="_blank" style="color: orangered;">Freela Dev</a></p>
      
</footer>
<!--FOOTER-->